---
export const prerender = true;

import { type CollectionEntry, getCollection } from "astro:content";
import getUniqueTags from "@utils/getUniqueTags";
import getPostsByTag from "@utils/getPostsByTag";
import getPageNumbers from "@utils/getPageNumbers";
import getPagination from "@utils/getPagination";
import Layout from "@layouts/Layout.astro";
import FooterBlogRow from "@components/home/FooterBlogRow.astro";
import Pagination from "@components/blog/Pagination.astro";

export interface Props {
  post: CollectionEntry<"posts">;
  tag: string;
  tagName: string;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = getUniqueTags(posts);
  return tags.flatMap(({ tag, tagName }) => {
    const tagPosts = getPostsByTag(posts, tag);
    const totalPages = getPageNumbers(tagPosts.length, 3);

    return totalPages.map((page) => ({
      params: { tag, page },
      props: { tag, tagName },
    }));
  });
}

const { page } = Astro.params;
const { tag, tagName } = Astro.props;
const posts = await getCollection("posts");

if (!tag || !tagName || !posts) {
  return Astro.redirect("/404");
}

const postsByTag = getPostsByTag(posts, tag);
const pagination = getPagination({
  reqtotalPages: 3, // Ensure the correct name is used for the property
  posts: postsByTag,
  page,
});
const { totalPages, currentPage, paginatedPosts } = pagination;

// Generate URLs only if within bounds of pagination
const prevUrl =
  currentPage > 1
    ? `/tags/${tag}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`
    : undefined;

const nextUrl =
  currentPage < totalPages ? `/tags/${tag}/${currentPage + 1}/` : undefined;
---

<Layout title={`${tagName} - SkyScript`}>
  <div
    class="mx-auto max-w-[85rem] px-4 pt-4 sm:px-6 sm:pt-8 md:pt-16 lg:px-8 lg:pt-20"
  >
    <h1 class="text-3xl font-bold text-gray-900">Tag: {tagName} : {tag}</h1>
  </div>

  {
    paginatedPosts.length > 0 ? (
      <>
        <FooterBlogRow posts={paginatedPosts} />
        <Pagination
          currentPage={currentPage}
          totalPages={totalPages}
          prevUrl={prevUrl}
          nextUrl={nextUrl}
        />
      </>
    ) : (
      <p>No posts available for this tag.</p>
    )
  }
</Layout>
