---
export const prerender = true;

import { getCollection } from "astro:content";
import getPostsByTag from "@utils/getPostsByTag";
import getPagination from "@utils/getPagination";
import getUniqueTags from "@utils/getUniqueTags";
import Layout from "@layouts/Layout.astro";
import FooterBlogRow from "@components/home/FooterBlogRow.astro";
import Pagination from "@components/blog/Pagination.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  const tags = getUniqueTags(posts);

  return tags.map(({ tag, tagName }) => {
    return {
      params: { tag },
      props: { tag, tagName, posts },
    };
  });
}

const { tag, tagName, posts } = Astro.props;

if (!tag || !tagName || !posts) {
  return Astro.redirect("/404");
}

const postsByTag = getPostsByTag(posts, tag);

const pagination = getPagination({
  posts: postsByTag,
  page: 1,
  isIndex: true,
  reqtotalPages: 3,
});
const { totalPages, currentPage, paginatedPosts } = pagination;

const prevUrl =
  currentPage > 1
    ? `/tags/${tag}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`
    : undefined;

const nextUrl =
  currentPage < totalPages ? `/tags/${tag}/${currentPage + 1}/` : undefined;
---

<Layout title={`${tagName} - SkyScript`}>
  <div
    class="mx-auto max-w-[85rem] px-4 pt-4 sm:px-6 sm:pt-8 md:pt-16 lg:px-8 lg:pt-20"
  >
    <h1 class="text-3xl font-bold text-gray-900">Tag: {tagName} : {tag}</h1>
  </div>
  <FooterBlogRow posts={paginatedPosts} />
  <Pagination
    currentPage={currentPage}
    totalPages={totalPages}
    prevUrl={prevUrl}
    nextUrl={nextUrl}
  />
</Layout>
