---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("page");
  return blogEntries.map((entry) => ({
    params: { slug: entry.data.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

// Extract SEO data from page
const pageTitle = entry.data.title;
const pageDescription = entry.data.description || "";
const pageImage = entry.data.coverImage || undefined;
---

<Layout title={pageTitle} description={pageDescription} image={pageImage}>
  <div
    class="mx-auto max-w-340 w-full px-4 py-10 sm:px-6 sm:py-12 lg:px-8 lg:py-14 font-sans"
  >
    <!-- Content -->
    <article class="">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
          <h2 class="text-3xl font-bold lg:text-5xl">
            {entry.data.title}
          </h2>

          <div class="flex items-center gap-x-5">
            <span
              class="inline-flex items-center gap-1.5 rounded-full border border-gray-300 bg-gray-100 px-3 py-1 text-xs text-gray-800 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none sm:px-4 sm:py-2 sm:text-sm"
            >
              {entry.data.category.name}
            </span>
            <p class="text-xs text-gray-800 sm:text-sm">
              {entry.data.publishedAt.toISOString().substring(0, 10)}
            </p>
          </div>
        </div>
      </div>
      <div class="prose mb-4 max-w-full sm:mb-6">
        <Content />
      </div>
    </article>
    <!-- End Content -->
  </div>
</Layout>

<script>
  // Remove autoplay from videos when `prefers-reduced-motion: reduce`
  const autoplayVideos = document.querySelectorAll("video[autoplay]");
  const prefersReducedMotion = window.matchMedia(
    "(prefers-reduced-motion: reduce)"
  ).matches;

  if (prefersReducedMotion) {
    autoplayVideos.forEach((video) => {
      video.removeAttribute("autoplay");
      // Add controls attribute so user can still play the video if they want
      video.setAttribute("controls", "true");
    });
  }
</script>
