---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div class="group mb-8 flex items-center gap-x-3 border-b border-gray-200 pb-8">
  <div class="block shrink-0 focus:outline-none">
    {
      post.data.authors &&
        post.data.authors.length > 0 &&
        post.data.authors[0].image && (
          <Image
            class="size-10 rounded-full"
            src={post.data.authors[0].image}
            alt={post.data.authors[0].name}
            width={50}
            height={50}
          />
        )
    }
  </div>

  <div class="group block grow focus:outline-none">
    <h5
      class="text-sm font-semibold text-gray-800 group-hover:text-gray-600 group-focus:text-gray-600"
    >
      {post.data?.authors?.[0]?.name}
    </h5>
    <p class="text-sm text-gray-500">{post.data?.authors?.[0]?.bio}</p>
  </div>

  {
    post.data?.authors?.[0]?.socials && post.data?.authors?.[0]?.socials && (
      <div class="grow">
        <div class="flex justify-end">
          <a
            href={post.data?.authors?.[0]?.socials?.[0]?.url}
            type="button"
            target="_blank"
            class="inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-indigo-500 px-2.5 py-1.5 text-xs font-medium text-white hover:bg-indigo-600 focus:bg-indigo-600 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
          >
            <svg
              class="size-4 shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <>
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                <circle cx="9" cy="7" r="4" />
                <line x1="19" x2="19" y1="8" y2="14" />
                <line x1="22" x2="16" y1="11" y2="11" />
              </>
            </svg>
            Follow
          </a>
        </div>
      </div>
    )
  }
</div>
