---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<!-- Card -->
<a
  class="group relative block rounded-xl focus:outline-none"
  href={`/post/${post.data.slug}`}
>
  <div
    class="relative h-[350px] w-full shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-1 before:size-full before:bg-linear-to-t before:from-gray-900/70"
  >
    {
      post.data.coverImage && (
        <Image
          class="absolute start-0 top-0 size-full object-cover"
          src={post.data.coverImage}
          alt={post.data.title}
          width={500}
          height={500}
        />
      )
    }
  </div>

  <div class="absolute inset-x-0 top-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <!-- Avatar -->
      <div class="flex items-center">
        <div class="shrink-0">
          {
            post.data?.authors?.[0].image && (
              <Image
                class="size-[46px] rounded-full border-2 border-white"
                src={post.data?.authors?.[0].image}
                alt={post.data?.authors?.[0].name}
                width={50}
                height={50}
              />
            )
          }
        </div>
        <div class="ms-2.5 sm:ms-4">
          <h4 class="font-semibold text-white">
            {post.data?.authors?.[0].name}
          </h4>
          <p class="text-xs text-white/80">
            {post.data.publishedAt.toISOString().substring(0, 10)}
          </p>
        </div>
      </div>
      <!-- End Avatar -->
    </div>
  </div>

  <div class="absolute inset-x-0 bottom-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <h3
        class="text-lg font-semibold text-white group-hover:text-white/80 group-focus:text-white/80 sm:text-3xl"
        transition:name={post.data.title}
      >
        {post.data.title}
      </h3>
      <p class="mt-2 text-white/80">
        {post.data.description}
      </p>
    </div>
  </div>
</a>
<!-- End Card -->
