---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

// Helper function to format dates
const formatDate = (date: Date | undefined) => {
  if (!date) return "Unknown date";
  return new Intl.DateTimeFormat("ko-KR", {
    year: "numeric",
    month: "short",
    day: "numeric",
  }).format(date);
};
---

<article class="flex max-w-xl flex-col items-start justify-between">
  {
    post.data.coverImage && (
      <a href={`/post/${post.id}`} class="mb-4 w-full overflow-hidden rounded-lg">
        <img
          src={post.data.coverImage}
          alt={post.data.title}
          class="aspect-[16/9] w-full object-cover shadow-sm transition duration-300 hover:shadow-md"
        />
      </a>
    )
  }
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime={post.data.publishedAt?.toISOString()} class="text-gray-500"
      >{formatDate(post.data.publishedAt)}</time
    >
    {
      post.data.tags?.slice(0, 2).map((tag) => (
        <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
          {tag}
        </span>
      ))
    }
    {
      post.data.category && (
        <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
          {post.data.category}
        </span>
      )
    }
  </div>
  <div class="group relative">
    <h2
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href={`/post/${post.id}`}>
        <span class="absolute inset-0"></span>
        <span>{post.data.title}</span>
      </a>
    </h2>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
      {post.data.description}
    </p>
  </div>
  <div class="relative mt-8 flex items-center gap-x-4">
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <span class="absolute inset-0"></span>
        {post.data.author || "Admin"}
      </p>
    </div>
  </div>
</article>
